{% extends 'clubs/base_tr.html' %}
{% block tr %}{% url 'about_tr' %}{% endblock tr %}
{% block kg %}{% url 'about' %}{% endblock kg %}
{% block content %}
    <!--services start -->
    <div class="about_main">
        <div class="services_main">
            <div class="container">
                <div class="creative_taital">
                    <h1 class="creative_text">Hakkımızda</h1>
                    <p style="color: #050000; text-align: center;">Kuruluşumuz ve Statümüz: İki dost ve kardeş ülke Türkiye Cumhuriyeti ile
                        Kırgız Cumhuriyeti arasında 30 Eylül 1995 tarihinde imzalanan anlaşmayla
                        Kırgızistan'ın başkenti Bişkek'te kurulmuş olan özel statülü uluslararası
                        bir devlet üniversitesiyiz.Alanında yetkin ve özgüveni yüksek, ortak kültür değerlerimiz
                        etrafında Türklük bilinci, ahlâki ilkeler ve evrensel değerlerle donatılmış, toplumsal
                        sorumluluk sahibi, çağdaş, uluslararası istihdam edilebilir nitelikte bireyler yetiştirme
                        ve dünya bilimine katkı sağlamak.</p>
                </div>
            </div>
        </div>
    </div>
                <!--services end -->

{% endblock content %}
